Tl_studies/functions/__pycache__/__init__.cpython-310.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-38.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-310.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-38.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-38.pyc
Tl_studies/psf_study/PSF_creation_comparsion_DEMOPP.ipynb
Tl_studies/psf_study/psfs/demopp.kr83m_DATA_RUN8.psf.h5
Tl_studies/psf_study/psfs/demopp.kr83m_DATA_RUN10.psf.h5
Tl_studies/psf_study/psfs/demopp.kr83m_DATA_RUN9.psf.h5
Tl_studies/psf_study/psfs/NEXT100_PSF_kr83m_5bar.h5
Tl_studies/psf_study/psfs/V3_PSF_dst_bin1.0_sum_collapsed_rAll.h5
Tl_studies/psf_study/psfs/HPR/NEXT100_PSF_kr83m.h5
Tl_studies/sophronia/sophronia_qthr5.h5
Tl_studies/sophronia/sophronia_qthr3.h5
Tl_studies/functions/__pycache__/isaura_analyse.cpython-38.pyc
Tl_studies/beersheba_parameter_testing/beersheba_event_plots/*
Tl_studies/beersheba_parameter_testing/fast_plots/*
Tl_studies/beersheba_parameter_testing/q_thr_cut_plots/*
*.h5
0nubb_LPR/5_bar/*
0nubb_LPR/configs/*
0nubb_LPR/sophronia/sophronia_plots/*
0nubb_LPR/sophronia/sophronia_plots_mu/*
Tl_studies/beersheba_parameter_testing/q_thr_cut_plots/DECONV_MC_5x3.png
