Tl_studies/functions/__pycache__/__init__.cpython-310.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-38.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-310.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-38.pyc
Tl_studies/functions/__pycache__/isaura_analyse.cpython-38.pyc
